body {
  background-color: #f5effd;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin: 0;
  background-color: #7e57c2;
}

#board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.cell {
  width: 100px;
  height: 100px;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #e8eaf6;
  transition: background-color 0.3s ease;
  margin: 5px;
}

.cell:hover {
  background-color: #c5cae9;
}

.cell img {
  max-width: 100%;
  max-height: 100%;
}

#message {
  color: #7e57c2;
  font-size: 24px;
  margin-top: 50px;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#play-again {
  background-color: #7e57c2;
  border: none;
  color: #fff;
  padding: 15px 30px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  display: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
